.container{
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-top: 20%;
    margin-left: 30%;
    box-shadow: 0px 2px 5px;
    border-radius: 10px;
    height: 40%;
    padding: 20px;
}
.containere{
    background-color: green;
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-top: 20%;
    margin-left: 30%;
    box-shadow: 0px 2px 5px;
    border-radius: 10px;
    height: 40%;
    padding: 20px;
}
.containerh{
    background-color: rgb(250, 47, 47);
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-top: 20%;
    margin-left: 30%;
    box-shadow: 0px 2px 5px;
    border-radius: 10px;
    height: 40%;
    padding: 20px;
}
.q{
    background-color: rgb(247, 255, 246);
    border: 1px solid rgb(0, 0, 0);
    text-emphasis-color: rgb(4, 39, 199);
    text-align: center;
    width: 30%;
    margin-top: 20%;
    margin-left: 30%;
    box-shadow: 0px 2px 5px;
    border-radius: 10px;
    height: 40%;
    padding: 20px;
}